<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options Indexes
DirectoryIndex landing.html       
order deny,allow

RewriteEngine On
RewriteCond %{landing.html} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]